@import "tailwindcss";

/* Fleurs */
.flower, .flower2 {
  animation: rotateFlower 10s linear infinite;
}

@keyframes rotateFlower {
  0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.petal, .petal2 {
  position: absolute;
  width: 30px;
  height: 80px;
  border-radius: 50%;
}

.petal-1 { transform: rotate(0deg); }
.petal-2 { transform: rotate(60deg); }
.petal-3 { transform: rotate(120deg); }
.petal-4 { transform: rotate(180deg); }
.petal-5 { transform: rotate(240deg); }
.petal-6 { transform: rotate(300deg); }

.center {
  width: 30px;
  height: 30px;
  background-color: #ffeb3b;
  border-radius: 50%;
}
